@import url(https://fonts.googleapis.com/css?family=Varela+Round);
body {
  padding: 0;
  background: #ffffff;
  font-family: 'Varela Round', sans-serif;
  color: #827d7d;
}
#header {
  background-image: url('../media/banner1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #D1EAE0;
  background-size: contain;
  min-width: 100%;
  height: 265px;
}
#header-content {
  padding-top: 20px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: -1px -1px 0 #827d7d, 1px -1px 0 #827d7d, -1px 1px 0 #827d7d, 1px 1px 0 #827d7d;
}
#header-content h1 {
  font-size: 49.275px;
  line-height: 65.7px;
}
#header-content h2 {
  font-size: 24px;
  line-height: 38px;
}
#container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}
#container .box {
  position: absolute;
  min-height: 400px;
  width: 100%;
  display: block;
  top: 0;
  right: 150%;
  margin-right: -50%;
  background: #ffffff;
  overflow: hidden;
  text-align: center;
}
#container .box > div:first-child {
  padding: 15px 5px;
}
#container .ativo {
  display: block;
}
#container #box1 {
  right: 50%;
}
#container #box1 h4:last-of-type {
  margin-bottom: 100px;
}
#container h3,
#container h4 {
  text-align: center;
}
#container h3 {
  color: #6dbaaa;
}
#container h4 {
  font-weight: bold;
}
#container .tw-content {
  max-height: 75px;
  overflow: hidden;
  border-bottom: 1px solid #777777;
  transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -moz-box-shadow: inset 0 -10px 10px -10px #aaaaaa;
  -webkit-box-shadow: inset 0 -10px 10px -10px #aaaaaa;
  box-shadow: inset 0 -10px 10px -10px #aaaaaa;
}
#container .tw-content.collapsed-content {
  max-height: 500px;
  padding-bottom: 20px;
}
#container .tw-more {
  display: inline-block;
  background-color: #eeeeee;
  position: relative;
  color: #000;
  padding: 10px 60px;
  margin-bottom: 15px;
  font-size: 11px;
  text-decoration: none;
}
#container .form-group + .form-group {
  margin-bottom: 15px;
}
#container .form-group:last-of-type {
  margin-bottom: 80px;
}
#container .form-group select.form-control {
  border-radius: 0;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 24px;
  height: 59px;
  font-size: 1.3em;
  color: #000000;
}
#container .btn {
  border-radius: 0;
  border: none;
  padding: 17px 10px;
  line-height: 25px;
  font-size: 1.3em;
  color: #ffffff;
  white-space: normal;
}
#container .btn:hover,
#container .btn:focus {
  color: #ffffff;
}
#container .btn-green {
  background: #a4d4c1;
}
#container .btn-green:hover,
#container .btn-green.active {
  background: #81c4a9;
}
#container .next-wrapper .btn-orange {
  background: #e3bd68;
}
#container .next-wrapper .btn-orange:hover {
  background: #dfb452;
}
#container .btn-social {
  width: 320px;
  text-align: left;
  padding: 0;
}
#container .btn-social i {
  padding: 24px;
  width: 65px;
}
#container .btn-social > span {
  padding: 25px;
}
#container .btn-social.btn-google {
  background-color: #DC4E41;
}
#container .btn-social.btn-google i {
  background-color: #c63224;
}
#container .btn-social.btn-google:hover {
  background-color: #c63224;
}
#container .btn-social.btn-facebook {
  background-color: #3B5998;
}
#container .btn-social.btn-facebook i {
  background-color: #2d4373;
}
#container .btn-social.btn-facebook:hover {
  background-color: #2d4373;
}
#container .btn-social.btn-twitter {
  background-color: #55acee;
}
#container .btn-social.btn-twitter i {
  background-color: #2795e9;
}
#container .btn-social.btn-twitter:hover {
  background-color: #2795e9;
}
#container .btn-social.btn-green {
  background-color: #a4d4c1;
}
#container .btn-social.btn-green i {
  background-color: #81c4a9;
}
#container .btn-social.btn-green:hover {
  background-color: #81c4a9;
}
#container #socialMedia {
  text-align: center;
  margin-top: 40px;
}
#container #socialMedia > div + div {
  margin-top: 3px;
}
#container .answer-group {
  margin-bottom: 50px;
}
#container .answer-group .btn-green {
  font-size: 1.1em;
}
#progress-bar {
  background: #aedac8;
  box-shadow: 0 2px 6px #A5A5A5;
  width: 0;
  height: 5px;
  transition: 0.5s all ease-in-out;
  position: absolute;
}

@media (min-width: 480px) {
  body {
    overflow-y: scroll;
  }
}
@media (min-width: 992px) {
  #container .box {
    width: 80%;
    margin-right: -40%;
  }
  #container .answer-group .btn-green {
    font-size: 1.3em;
  }
  #container .next-wrapper,
  #container .answer-group {
    padding-left: 60px;
    padding-right: 60px;
  }
}
