@import '../variables.less';
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    padding: 0;
    background: @white;
    font-family: 'Varela Round', sans-serif;
    color: #827d7d;
}

#header {
    background-image: url('../media/banner1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: @banner-green;
    background-size: contain;
    min-width: 100%;
    height: 265px;
}

#header-content {
    padding-top: 20px;

    color: @white;
    font-weight: 700;

    text-shadow: -1px -1px 0 #827d7d, 1px -1px 0 #827d7d, -1px 1px 0 #827d7d, 1px 1px 0 #827d7d;

    h1 {
        font-size: 49.275px;
        line-height: 65.7px;
    }

    h2 {
        font-size: 24px;
        line-height: 38px;
    }
}

#container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;

    .box {
        position: absolute;
        min-height: 400px;
        width: 100%;
        display: block;
        top: 0;
        right: 150%;
        margin-right: -50%;
        background: @white;
        overflow: hidden;
        text-align: center;
    }

    .box > div:first-child {
        padding: 15px 5px;
    }

    .ativo {
        display: block;
    }

    #box1 {
        right: 50%;

        h4 {
            &:last-of-type {
                margin-bottom: 100px;
            }
        }
    }

    h3,
    h4 {
        text-align: center;
    }

    h3 {
        color: @light-green;
    }

    h4 {
        font-weight: bold;
    }

    .tw-content {
        max-height: 75px;
        overflow: hidden;
        border-bottom: 1px solid @gray-light;

        .createTransition(all, 1.5s, ease-in-out);
        .createBoxShadow(inset, 0, -10px, 10px, -10px, lighten(@gray-light, 20%));

        &.collapsed-content {
            max-height: 500px;
            padding-bottom: 20px;
        }
    }

    .tw-more {
        display: inline-block;
        background-color: @gray-lighter;
        position: relative;
        color: #000;
        padding: 10px 60px;
        margin-bottom: 15px;
        font-size: 11px;
        text-decoration: none;
    }

    .form-group {
        & + .form-group {
            margin-bottom: 15px;
        }

        &:last-of-type {
            margin-bottom: 80px;
        }

        select {
            &.form-control {
                border-radius: 0;
                border-left: 1px solid #eeeeee;
                border-right: 1px solid #eeeeee;

                padding: 0 24px;

                height: 59px;
                font-size: 1.3em;

                color: #000000;
            }
        }
    }

    .btn {
        border-radius: 0;
        border: none;

        padding: 17px 10px;
        line-height: 25px;

        font-size: 1.3em;

        color: @white;

        &:hover,
        &:focus {
            color: @white;
        }

        white-space: normal;
    }

    .btn-green {
        background: @lighter-green;

        &:hover,
        &.active {
            background: darken(@lighter-green, 10%);
        }
    }

    .next-wrapper {
        .btn-orange {
            background: @light-orange;

            &:hover {
                background: darken(@light-orange, 5%);
            }
        }
    }

    .btn-social {
        width: 320px;
        text-align: left;
        padding: 0;

        i {
            padding: 24px;
            width: 65px;
        }

        & > span {
            padding: 25px;
        }

        &.btn-google {
            .createBackground(@google-red);
        }

        &.btn-facebook {
            .createBackground(@facebook-blue);
        }

        &.btn-twitter {
            .createBackground(@twitter-blue);
        }

        &.btn-green {
            .createBackground(@lighter-green);
        }
    }

    #socialMedia {
        text-align: center;
        margin-top: 40px;

        & > div {
            & + div {
                margin-top: 3px;
            }
        }
    }

    .answer-group {
        margin-bottom: 50px;

        .btn-green {
            font-size: 1.1em;
        }
    }
}

#progress-bar {
    background: darken(@banner-green, 10%);

    box-shadow: 0 2px 6px #A5A5A5;

    width: 0;
    height: 5px;

    transition: 0.5s all ease-in-out;

    position: absolute;
}

.createBackground(@color) {
    background-color: @color;

    i {
        background-color: darken(@color, 10%);
    }

    &:hover {
        background-color: darken(@color, 10%);
    }
}

.createBoxShadow(@direction, @h-shadow, @v-shadow, @blur, @spread, @color) {
    -moz-box-shadow: @direction @h-shadow @v-shadow @blur @spread @color;
    -webkit-box-shadow: @direction @h-shadow @v-shadow @blur @spread @color;
    box-shadow: @direction @h-shadow @v-shadow @blur @spread @color;
}

.createTransition(@property, @time, @type) {
    transition: @property @time @type;
    -webkit-transition: @property @time @type;
    -moz-transition: @property @time @type;
    -o-transition: @property @time @type;
}