@import '../variables.less';

@media (min-width: @screen-xs-min) {
    body {
        overflow-y: scroll;
    }
}

@media (min-width: @screen-md-min) {
    #container {
        .box {
            width: 80%;
            margin-right: -40%;
        }

        .answer-group {
            .btn-green {
                font-size: 1.3em;
            }
        }

        .next-wrapper, .answer-group {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}